.gradle
**/build/
**/target/
**/out/
**/.idea/
**/*.iml
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

**.hprof

Thumbs.db
.DS_Store
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
